<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>form test</title>
  <link rel="stylesheet" href="{{ asset('/assets/prism/prism.css') }}" type="text/css" media="all">
  <style type="text/css" media="screen">
  .code-toolbar {
    height: 100%;
  }
  .code-toolbar pre {
    height: 100%;
    margin: 0;
  }
  </style>
  <script src="{{ asset('/assets/prism/prism-min.js') }}s" data-manual></script>
  <script src="{{ asset('/bundles/adaapp/apps/superadmin/pagine_test/test_form-min.js') }}?v={{ ada_vars.vers.superadmin }}"></script>
</head>
<body>
  <main class="container">
    <h1>form test</h1>


    {% macro field(title, form_obj_name, php_code, twig_args, globals) %}
      {%- if title -%}
        <h2 class="h3 to-toc">{{ title }}</h2>
      {%- endif -%}
      <div class="row mb-3 form_element" data-php="{{ php_code }}" data-form_obj_name="{{ form_obj_name }}" data-twig="{{ twig_args|json_encode() }}">
        <div class="col-sm-6 col-md-3 php_code" data-php="{{ php_code }}"></div>
        <div class="col-sm-6 col-md-3 twig_code"></div>
        <div class="col-sm-6 col-md-3 html_code"></div>
        <div class="col-sm-6 col-md-3 result">
          {{ form_row(globals.form[form_obj_name], twig_args) }}
        </div>
      </div>
    {% endmacro %}

    {% import _self as m %}

    <div id="toc"></div>

    {# ! campo text #}
    {% set phpcode %}
    ->add('campo_text', TextType::class, array(
      'required' => false
    ))
    {% endset %}
    {{ m.field(
      'Text',
      'campo_text',
      phpcode,
      {
        id: 'my_id',
        label: 'Campo text',
        required:true,
        attr: {
          maxlength: 64,
          placeholder: 'Campo text'
        }
      },
      _context
    ) }}


    {# !Campo checkbox std #}
    {% set phpcode %}
    ->add('campoCheckboxStd', CheckboxType::class, array(
      'required' => false
    ))
    {% endset %}
    {{ m.field(
      'Checkbox std',
      'campoCheckboxStd',
      phpcode,
      {
        label: 'Campo checkbox std',
        attr: {},
        help: 'Help text'
      },
      _context
    ) }}

    {# !Campo checkbox std + required #}
    {% set phpcode %}
    ->add('campoCheckboxStdReq', CheckboxType::class, array(
      'required' => true
    ))
    {% endset %}
    {{ m.field(
      'Checkbox std + required',
      'campoCheckboxStdReq',
      phpcode,
      {
        label: 'Campo checkbox std required',
        attr: {},
        help: 'Help text'
      },
      _context
    ) }}


    {# !Campo checkbox single #}
    {% set phpcode %}
    ->add('campoCheckboxSingle', CheckboxType::class, array(
      'required' => false
    ))
    {% endset %}
    {{ m.field(
      'Checkbox label sopra',
      'campoCheckboxSingle',
      phpcode,
      {
        label: 'Campo checkbox label sopra',
        attr: {},
        setlabel: 'single',
        help: 'Help text'
      },
      _context
    ) }}

    {# !Campo checkbox single + required #}
    {% set phpcode %}
    ->add('campoCheckboxSingleReq', CheckboxType::class, array(
      'required' => true
    ))
    {% endset %}
    {{ m.field(
      'Checkbox label sopra + required',
      'campoCheckboxSingleReq',
      phpcode,
      {
        label: 'Campo checkbox label sopra required',
        attr: {},
        setlabel: 'single',
        help: 'Help text'
      },
      _context
    ) }}



    {# TODO standardizzare #}
    {# TODO in questi casi permettere label su più righe (tutti i checkbox/radio?) #}
    <h3>Checkbox solo markup, label aggiunto a mano</h3>
    <p>NB: la classe <code>form-check-input</code> è legata all'utilizzo di Bootstrap.</p>
    <div class="row mb-3 ">
      <div class="col-sm-6 col-md-3 php_code"></div>
      <div class="col-sm-6 col-md-3 twig_code"></div>
      <div class="col-sm-6 col-md-3 html_code"></div>
      <div class="col-sm-6 col-md-3 result">

        <div class="form-group">
          <div class="form-check">
            <label class="form-check-label">
              {{ form_widget(form.campoCheckboxSoloWidget, {
                setlabel: false,
                attr: {class: 'form-check-input'},
                help: 'help text (questo non viene stampato)'
              }) }}
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
            </label>
          </div>
        </div>

      </div>
    </div>



    <div class="row">
    {#
      <div class="col-sm-6 col-md-3">
        {{ form_row(form.campo_text, {
          id: 'my_id',
          label: 'Campo text',
          attr: {}
        }) }}
      </div>
    #}
      <div class="col-sm-6 col-md-3">
        <div class="form-group">
          {{ form_label(form.campo_text2,
            'Campo con form_label separato',
            {id: 'custom_id'}
          ) }}
          {{ form_widget(form.campo_text2, {
            id: 'custom_id',
            attr: {}
          }) }}
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-sm-6 col-md-4 col-lg-3">
        {{ form_row(form.campo_select, {
          id: 'campo_select',
          label: 'Campo select',
          attr: {},
          help: 'help text'
        }) }}
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">

      </div>
    </div>

    {# TODO trasformare in widget #}
    <div class="row">
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="form-group">
          <label for="select_optgroup">Select con option group</label>
          <select class="form-control custom-select"  id="select_optgroup">
            <option value="">&mdash;</option>
            <option value="1">Option semplice</option>

            <optgroup label="Option group 1">
              <option value="2">Option in option group 1</option>
              <option value="3">Option in option group 2</option>
            </optgroup>

            <optgroup label="Option group con annidamento">
              <optgroup label="Option group annidato">
                <option value="4">Option in option group annidato 1</option>
                <option value="5">Option in option group annidato 2</option>
              </optgroup>
            </optgroup>

          </select>
        </div>
      </div>

    </div>

  </main>
  
</body>
</html>
