{# controller: /src/AppBundle/Controller/TestFormController.php #}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Symfony + Bootstrap 4 Form Test</title>
  <link rel="stylesheet" href="{{ asset('/public/prism/prism.css') }}" type="text/css" media="all">
  <link rel="stylesheet" href="{{ asset('/public/test_form/sf_test_form.css') }}" type="text/css" media="all">

  <link rel="apple-touch-icon" sizes="180x180" href="http://primominuto.altervista.org/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="http://primominuto.altervista.org/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="http://primominuto.altervista.org/favicons/favicon-16x16.png">
  <link rel="manifest" href="http://primominuto.altervista.org/favicons/site.webmanifest">
  <link rel="mask-icon" href="http://primominuto.altervista.org/favicons/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="http://primominuto.altervista.org/favicons/favicon.ico">
  <meta name="msapplication-TileColor" content="#ffc40d">
  <meta name="msapplication-config" content="http://primominuto.altervista.org/favicons/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

</head>
<body>
  <main class="container-fluid my-4">
    <h1 id="top">Symfony + Bootstrap 4 Form Test</h1>
    <p class="font-italic mb-2">Rendering test of form elements (Massimo Cassandro 2016/2020).</p>

    <p>Repository readme: <a href="https://github.com/massimo-cassandro/symfony-bootstrap-form-theme#readme">https://github.com/massimo-cassandro/symfony-bootstrap-form-theme#readme</a></p>

    <p>Symfony controller:
    <code>/src/AppBundle/Controller/TestFormController.php</code><br>
    This page twig template: <code>src/AppBundle/Resources/views/test_form/test_form.html.twig</code><br>
    Form template: <code>dist/bs4_form_layout.html.twig</code><br>
    Scss files: <code>dist/scss</code><br>
    JS files: <code>dist/js</code>
    </p>
    <p class="font-italic">Note: for easier readability, in this test page, twig parameters
    (as required or disabled) have been added to the twig widget,
    even if they are tipically defined in the controller.</p>

    <p class="text-danger">
      <strong>TODO:</strong>
      boostrap validation markup<br>
      errors<br>
      custom validity<br>
      grouped checkboxes<br>
      progress?<br>
      buttons?<br>
      date interval?
    </p>


    <div id="toc"></div>

    {{ form_start(form, {attr: {id: 'form1'}}) }}
    {{ form_errors(form) }}

      <h2>Basic elements</h2>

        {% include 'test_form/test_form.incl.html.twig' with {
          title: 'form_widget',
          info: 'Widget basic element (input text)',
          is_widget: true,
          varname: 'text1'
        } %}

        {% include 'test_form/test_form.incl.html.twig' with {
          title: 'Hidden field',
          info: 'Note: only the field is returned, even if <code>form_row</code> is used',
          is_widget: false,
          varname: 'hidden1'
        } %}

        {% include 'test_form/test_form.incl.html.twig' with {
          title: 'readonly fields with <code>form-control-plaintext</code> class',
          is_widget: false,
          varname: 'text_readonly',
          args: {
            help: 'Help text',
            label: 'form label',
            required: true,
            attr: {class: 'form-control-plaintext', readonly: true}
          }
        } %}


        {% include 'test_form/test_form.incl.html.twig' with {
          title: 'form_row required + help text',
          info: 'input text',
          varname: 'text2',
          args: {
            help: 'Help text',
            label: 'form label',
            required: true,
            attr: {placeholder: 'Placeholder text'}
          }
        } %}

        {% include 'test_form/test_form.incl.html.twig' with {
          title: 'form_row required + disabled + help text',
          info: 'input text',
          varname: 'text3',
          args: {
            help: 'Help text',
            label: 'form label',
            disabled: true,
            required: true,
            attr: {placeholder: 'Placeholder text'}
          }
        } %}

        {% include 'test_form/test_form.incl.html.twig' with {
          title: 'form_row without container',
          info: 'Basic form_rows elements require the <code>.form-group</code> container; if it is set to ' ~
            '<code>false</code>, labels, help text, etc are not displayed.',
          varname: 'text4',
          args: {
            help: 'Help text',
            label: 'form label',
            required: true,
            attr: {placeholder: 'Placeholder text'},
            params: {
              container: false
            }
          }
        } %}

        {% include 'test_form/test_form.incl.html.twig' with {
          title: 'Extra container classes',
          info: 'Extra classes can be added to the <code>.form-group</code> container thru the ' ~
            '<code>container_class</code> option',
          varname: 'text5',
          args: {
            help: 'Help text',
            label: 'form label',
            required: true,
            attr: {placeholder: 'Placeholder text'},
            params: {
              container_class: 'bg-dark text-white p-2 rounded'
            }
          }
        } %}

      <h2>Single checkboxes</h2>

        {% include 'test_form/test_form.incl.html.twig' with {
          title: 'Checkbox (input element only)',
          is_widget: true,
          varname: 'cbox1'
        } %}

        {% include 'test_form/test_form.incl.html.twig' with {
          title: 'Checkbox Bootstrap default (stacked) + <code>form-group</code> container (default) + required',
          info: 'With custom id and custom label',
          varname: 'cbox2',
          args: {
            id: 'custom-id',
            help: 'Help text',
            label: 'Checkbox label',
            required: true
          }
        } %}

        {% include 'test_form/test_form.incl.html.twig' with {
          title: 'Checkbox Bootstrap default (stacked) without container + required + disabled',
          varname: 'cbox3',
          args: {
            help: 'Help text',
            required : true,
            disabled: true,
            params: {
              container: false
            }
          }
        } %}
        {% include 'test_form/test_form.incl.html.twig' with {
          title: 'Checkbox Bootstrap default (stacked) + container + required + disabled',
          varname: 'cbox5',
          args: {
            help: 'Help text',
            required: true,
            disabled: true
          }
        } %}

        {% include 'test_form/test_form.incl.html.twig' with {
          title: 'Checkbox with label on top',
          info: "Place the label above the checkbox field. This option requires the cointainer markup,
            therefore the <code>container: false</code> option is ignored. Furhermore,
            the <code>top_label</code> option can't be activated if the <code>bs_custom_control</code>
            is set to true",
          varname: 'cbox7',
          args: {
            required: true,
            help: 'Help text',
            params: {
              container: false,
              top_label: true
           }
          }
        } %}

        {% include 'test_form/test_form.incl.html.twig' with {
          title: 'Single checkbox switch',
          info: 'See <a href="https://getbootstrap.com/docs/4.4/components/forms/#switches">https://getbootstrap.com/docs/4.4/components/forms/#switches</a>',
          varname: 'cbox8',
          args: {
            required: true,
            help: 'Help text',
            params: {
              container: true,
              switch: true
           }
          }
        } %}


        <h2>Single checkboxes with custom controls</h2>
        <p>Note that checkboxes with custom controls are not fully supported with this template.<br>
          Bootsrap docs: <a href="https://getbootstrap.com/docs/4.3/components/forms/#checkboxes-and-radios-1">https://getbootstrap.com/docs/4.3/components/forms/#checkboxes-and-radios-1</a></p>
        {% include 'test_form/test_form.incl.html.twig' with {
          title: 'Checkbox stacked + custom control + required',
          info: "Note that the <code>help</code> and <code>params.container</code> don't take effect,
            and that the required asterisk is located after the label string
            through the <code>span.required</code> element",
          varname: 'cbox4',
          args: {
            help: 'Help text',
            required: true,
            params: {
              container: true,
              bs_custom_control: true
            }
          }
        } %}


        {% include 'test_form/test_form.incl.html.twig' with {
          title: 'Checkbox stacked + custom control + required + disabled',
          varname: 'cbox6',
          args: {
            required: true,
            disabled: true,
            params: {
              bs_custom_control: true
            }
          }
        } %}

      <h2 id="multiple_checkboxes">Multiple checkboxes</h2>
      <p>Checkbox series obtained thru the <code>ChoiceType</code> type
        (<a href="https://symfony.com/doc/current/reference/forms/types/choice.html">https://symfony.com/doc/current/reference/forms/types/choice.html</a>)</p>

      {% include 'test_form/test_form.incl.html.twig' with {
        title: 'Multiple stacked checkboxes',
        info: "Controller <code>ChoiceType</code> options: <code>'expanded' =&gt; true, 'multiple' =&gt; true</code>.<br>" ~
          "Note that the <code>required</code> has the unique effect to add the required class to the fieldset,
          to highlight that at least one of the controls must be selected.
          However, the final check must be performed using javascript.<br>
          The <code>help</code> parameter, if present, is placed at top, under the <code>legend</code> tag",
        varname: 'multiCbox1',
        args: {
          help: 'Help text',
          label: 'Multiple checkboxes',
          required: true
        }
      } %}

      {% include 'test_form/test_form.incl.html.twig' with {
        title: 'Multiple stacked checkboxes without elements',
        info: "An optional parameter <code>no_items_mes</code> (text with markup) can be added to be displayed" ~
          " if the Choice array is empty",
        varname: 'multiCboxNoItems',
        args: {
          help: 'Help text',
          label: 'Multiple checkboxes',
          required: false,
          params: {
            no_items_mes: '<p class="font-italic small text-muted">This element is empty</p>'
          }
        }
      } %}

      {% include 'test_form/test_form.incl.html.twig' with {
        title: 'Multiple stacked checkboxes + disabled',
        info: "Same of previous with disabled parameter",
        varname: 'multiCbox2',
        args: {
          help: 'Help text',
          label: 'Multiple checkboxes',
          required: true,
          disabled: true
        }
      } %}

      {% include 'test_form/test_form.incl.html.twig' with {
        title: 'Multiple stacked checkboxes without fieldset',
        info: "For cases where checkboxes must be inserted in a fieldset already present in the markup.
          In this case, the <code>help</code> parameter takes no effects.",
        varname: 'multiCbox3',
        args: {
          help: 'Help text',
          label: 'Multiple checkboxes',
          params: {
            collection_container: false
          }
        }
      } %}

      {% include 'test_form/test_form.incl.html.twig' with {
        title: 'Multiple stacked checkboxes without fieldset + required + disabled ',
        info: "Same of previous with disabled and required parameter.
        Note that the <code>required</code> parameter takes no effect.",
        varname: 'multiCbox4',
        args: {
          label: 'Multiple checkboxes',
          disabled:true,
          required: true,
          params: {
            collection_container: false
          }
        }
      } %}

      {% include 'test_form/test_form.incl.html.twig' with {
        title: 'Multiple stacked checkboxes + multiple columns',
        id: 'multiple_cboxes_multi_columns',
        info: "Distributes checkboxes into responsive columns.
          The <code>column</code> parameter is an array whose keys are the bootstrap breakpoints
          abbreviations (sm, md, ...) and values are the number of desidered columns (max 5).
          This option also works with <code>params.collection_container = false</code> parameter",
        varname: 'multiCbox5',
        args: {
          label: 'Multiple checkboxes',
          params: {
            columns: {sm:1, md:2}
          }
        }
      } %}

      {% include 'test_form/test_form.incl.html.twig' with {
        title: 'Multiple checkboxes + inline',
        info: "Checkboxes are rendered as inline elements. This option is obviously incompatible with multiple columns",
        varname: 'multiCbox6',
        args: {
          label: 'Multiple checkboxes',
          help: "Help text",
          params: {
            inline: true
          }
        }
      } %}

      {% include 'test_form/test_form.incl.html.twig' with {
        title: 'Multiple stacked checkboxes + custom control',
        info: "Note that actually multiple checkboxes with custom controls don't fully support
          all the parameters like disabled, required etc...",
        varname: 'multiCbox7',
        args: {
          label: 'Multiple checkboxes',
          params: {
            bs_custom_control: true
          }
        }
      } %}

      {% include 'test_form/test_form.incl.html.twig' with {
        title: 'Grouped stacked checkboxes',
        varname: 'groupedCbox1',
        todo: true,
        args: {
          label: 'Multiple checkboxes',
          help: "Help text"
        }
      } %}


      <h2>Radios</h2>
      {% include 'test_form/test_form.incl.html.twig' with {
        title: 'Stacked radio buttons',
        info: "Same of multiple checkboxes, the unique difference if that the
          the controller <code>multiple</code> option is set to <code>false</code>.<br>
          All the parameter available for multiple checkboxes can be applied to radio buttons",
        varname: 'radios1',
        args: {
          label: 'Radio buttons',
          help: "Help text"
        }
      } %}

      <h2 id="multiselect">Multiselect</h2>
      <p>A way to handle multiple checkboxes or radio buttons using a dropdown panel.<br>
      It uses <a href="https://getbootstrap.com/docs/4.4/components/dropdowns/">Bootstraps dropdowns</a> for markup
      (<a href="https://jquery.com/">jQuery</a>, <a href="https://popper.js.org/">Popper.js</a>,
        and related Bootstrap JS scripts are requested).</p>

      <p>To activate this option add <code>params.multiselect: true</code> to the widget for
      default settings or set it as an object to define a <code>placeholder</code>,
      <code>button_class</code> (default: <code>btn-multiselect</code>,
      defined in <code>_forms.scss</code>) and
      <code>menu_class</code> (default: <em>none</em>) parameters according to Bootstrap docs.</p>

      <div class="text-danger">
        <p><strong>TODO</strong>: css for sizing classes</p>
      </div>

      {% include 'test_form/test_form.incl.html.twig' with {
        title: 'Standard multiSelect',
        info: "Basic dropdown with checkboxes",
        varname: 'multiSelect1',
        args: {
          label: 'Multiselect',
          params: {
            multiselect: true
          }
        }
      } %}

      {% include 'test_form/test_form.incl.html.twig' with {
        title: 'Multiselect with columns',
        info: "Basic dropdown with radio buttons arranged in columns and custom options",
        varname: 'multiSelect2',
        args: {
          label: 'Multiselect',
          params: {
            multiselect: {
              placeholder: 'Choose an option',
              button_class: 'btn-outline-primary',
              menu_class: 'dropdown-menu-md-right'
            },
            columns: {sm:1, md:2}
          }
        }
      } %}

      <h2>Select</h2>

      {% include 'test_form/test_form.incl.html.twig' with {
        title: 'Standard select field',
        info: "Note that select fields have the <code>params.bs_custom_control</code> option
          set to <code>true</code> by default. This option adds the <code>custom-select</code>
          class to to select element. To avoid this behavior, you must explicitly set the
          <code>bs_custom_control</code> option to <code>false</code>.",
        varname: 'select1',
        args: {
          label: 'Select field',
          help: 'Help text',
          required: true
        }
      } %}

      {% include 'test_form/test_form.incl.html.twig' with {
        title: 'Select field with <code>optgroup</code>',
        info: "Select with grouped options and <code>bs_custom_control = false</code>.
          This setting essentially affects rendering with Firefox and Safari, while it doesn't
          generate big differences on Chrome and Edge (Blink).
          Note that we don't have an empty option at the the top, since the
          <code>placeholder</code> option (in the controller) is set to <code>false</code>",
        varname: 'select2',
        args: {
          label: 'Select field',
          help: 'Help text',
          required: false,
          params: {
            bs_custom_control: false
          }
        }
      } %}

      {% include 'test_form/test_form.incl.html.twig' with {
        title: 'Select field with <code>optgroup</code> and <code>multiple</code> attribute',
        varname: 'select3',
        args: {
          label: 'Select field',
          help: 'Help text'
        }
      } %}

      <h2 id="input_groups">Input groups</h2>
      <p>Options to add text, buttons, or button groups on either side of textual inputs, selects, or file inputs.
        See <a href="http://getbootstrap.com/docs/4.4/components/input-group/#input-group">
        http://getbootstrap.com/docs/4.4/components/input-group/#input-group</a>.<br>
        This option does not include all the options of variations of the Boostrap input group,
        but it allows to easily manage the most common cases.
      </p>
      <p>The <code>before</code> and <code>after</code> parameters allow you to define the
      position of the addon. Each of them may have more items.</p>
      <p>Use the <code>type: text</code> option to add simple text add-ons
      (a <code>span.input-group-text</code> tag will be added), or
      <code>type: markup</code> for more complex and customizable elements.</p>

      <p>If <code>before</code> and <code>after</code> are <strong>strings</strong>,
        the add-on is considered to be a single <code>type: text</code> element,<br>
        if they are <strong>arrays of strings</strong>, each sub-element is considered to be a
        <code>type: text</code> element.</p>
      <p>Finally, if they are <strong>arrays of objects</strong>, each element is treated according
      to its <code>type</code> option.</p>

      {% include 'test_form/test_form.incl.html.twig' with {
        title: 'Text input group',
        info: "Input field with text before and after",
        varname: 'inputGroup1',
        args: {
          label: 'Input group',
          help: 'Help text',
          type: 'number',
          attr: {
            step: 10
          },
          params: {
            before: '$',
            after: [
              {
                type: 'markup',
                content: '<span class="input-group-text text-danger">.00</span>'
              }
            ]
          }
        }
      } %}

      {% include 'test_form/test_form.incl.html.twig' with {
        title: 'Select input group',
        info: "Select field with text and button at the end",
        varname: 'inputGroup2',
        args: {
          label: 'Select input group',
          help: 'Help text',
          required : true,
          params: {
            after: [
              'Some text',
              {
                type: 'markup',
                content: '<button class="btn btn-secondary" type="button">Button</button>'
              }
            ]
          }
        }
      } %}

      <h2>Other elements</h2>
      {% include 'test_form/test_form.incl.html.twig' with {
        title: 'Textarea',
        varname: 'textarea1',
        args: {
          help: 'Help text',
          label: 'form label',
          attr: {placeholder: 'Placeholder text'}
        }
      } %}

      {% include 'test_form/test_form.incl.html.twig' with {
        title: 'Range',
        info: '<div class="text-danger">
          <p><strong>TODO</strong>: current value label, step labels</p>
        </div>',
        varname: 'range1',
        args: {
          help: 'Help text',
          label: 'Range label',
          type: 'range',
          attr: {min: 1, max: 10, step:1}
        }
      } %}

      {% include 'test_form/test_form.incl.html.twig' with {
        title: 'File',
        varname: 'file1',
        args: {
          help: 'Help text',
          label: 'File label',
          type: 'file'
        }
      } %}

    {{ form_end(form, {'render_rest': false}) }}

  </main>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.10.2/beautify-html.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js"></script>

  <script src="{{ asset('/public/prism/prism-min.js') }}"></script>
  <script src="{{ asset('/public/test_form/bootstrap-min.js') }}"></script>
  <script src="{{ asset('/public/test_form/sf_test_form-min.js') }}"></script>
</body>
</html>

