{# controller: /src/AppBundle/Controller/TestFormController.php #}
<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Symfony + Bootstrap 4 Form Test</title>
  {# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"> #}
  <link rel="stylesheet" href="{{ asset('/assets/prism/prism.css') }}" type="text/css" media="all">
  <link rel="stylesheet" href="{{ asset('/assets/forms/test_page_assets/sf_test_form.css') }}" type="text/css" media="all">

</head>
<body>
  <main class="container-fluid my-4">
    <h1>Symfony + Bootstrap 4 Form Test</h1>

    <p>Rendering test of form elements.</p>
    <p>Symfony controller:
    <code>/src/AppBundle/Controller/TestFormController.php</code><br>
    This page twig template: <code>src/AppBundle/Resources/views/test_form/test_form.html.twig</code><br>
    Form template: <code>src/AppBundle/Resources/views/form/bs4_form_layout.html.twig</code><br>
    Scss file: <code>src/AppBundle/Resources/public/forms/_forms.scss</code>
    </p>
    <p class="font-italic">Note: for better clarity, in this test page, twig parameters
    (as required or disabled) have been added to the twig widget,
    even if they are tipically defined in the controller.</p>

    <div id="toc"></div>


    {{ form_start(form, {attr: {id: 'form1'}}) }}
    {{ form_errors(form) }}

      <h2>Basic elements</h2>

        {% include 'test_form/test_form.incl.html.twig' with {
          title: 'form_widget',
          info: 'Widget basic element (input text)',
          is_widget: true,
          varname: 'textField1'
        } %}

        {% include 'test_form/test_form.incl.html.twig' with {
          title: 'Hidden field',
          info: 'Note: only the field is returned, even if <code>form_row</code> is used',
          is_widget: false,
          varname: 'hiddenField1'
        } %}

        {% include 'test_form/test_form.incl.html.twig' with {
          title: 'form_row required + help text',
          info: 'input text',
          varname: 'textField2',
          args: {
            help: 'Help text',
            label: 'form label',
            required: true,
            attr: {placeholder: 'Placeholder text'}
          }
        } %}

        {% include 'test_form/test_form.incl.html.twig' with {
          title: 'form_row required + disabled + help text',
          info: 'input text',
          varname: 'textField3',
          args: {
            help: 'Help text',
            label: 'form label',
            disabled: true,
            required: true,
            attr: {placeholder: 'Placeholder text'}
          }
        } %}

      <h2>Checkboxes</h2>

        {% include 'test_form/test_form.incl.html.twig' with {
          title: 'Checkbox (input element only)',
          is_widget: true,
          varname: 'checkboxField1'
        } %}

        {% include 'test_form/test_form.incl.html.twig' with {
          title: 'Checkbox Bootstrap default (stacked) + <code>form-group</code> container (default) + required',
          info: 'With custom id and custom label',
          varname: 'checkboxField2',
          args: {
            id: 'custom-id',
            help: 'Help text',
            label: 'Checkbox label',
            required: true
          }
        } %}

        {% include 'test_form/test_form.incl.html.twig' with {
          title: 'Checkbox Bootstrap default (stacked) without container',
          varname: 'checkboxField3',
          args: {
            help: 'Help text',
            params: {
              container: false
            }
          }
        } %}

        {% include 'test_form/test_form.incl.html.twig' with {
          title: 'Checkbox stacked + custom control + required',
          info: "Note that the <code>help</code> and <code>params.container</code> don't take effect,
            and that the required asterisk is located after the label string
            through the <code>span.required</code> element",
          varname: 'checkboxField4',
          args: {
            help: 'Help text',
            required: true,
            params: {
              container: true,
              bs_custom_control: true
            }
          }
        } %}

        {% include 'test_form/test_form.incl.html.twig' with {
          title: 'Checkbox Bootstrap default (stacked) + container + required + disabled',
          varname: 'checkboxField5',
          args: {
            help: 'Help text',
            required: true,
            disabled: true
          }
        } %}

        {% include 'test_form/test_form.incl.html.twig' with {
          title: 'Checkbox stacked + custom control + required + disabled',
          varname: 'checkboxField6',
          args: {
            required: true,
            disabled: true,
            params: {
              bs_custom_control: true
            }
          }
        } %}


      {#



//!Campo checkbox std + required
    {% set phpcode %}
    ->add('campoCheckboxStdReq', CheckboxType::class, array(
      'required' => true
    ))
    {% endset %}
    {{ m.field(
      'Checkbox std + required',
      'campoCheckboxStdReq',
      phpcode,
      {
        label: 'Campo checkbox std required',
        attr: {},
        help: 'Help text'
      },
      _context
    ) }}


//!Campo checkbox single
    {% set phpcode %}
    ->add('campoCheckboxSingle', CheckboxType::class, array(
      'required' => false
    ))
    {% endset %}
    {{ m.field(
      'Checkbox label sopra',
      'campoCheckboxSingle',
      phpcode,
      {
        label: 'Campo checkbox label sopra',
        attr: {},
        setlabel: 'single',
        help: 'Help text'
      },
      _context
    ) }}

//!Campo checkbox single + required
    {% set phpcode %}
    ->add('campoCheckboxSingleReq', CheckboxType::class, array(
      'required' => true
    ))
    {% endset %}
    {{ m.field(
      'Checkbox label sopra + required',
      'campoCheckboxSingleReq',
      phpcode,
      {
        label: 'Campo checkbox label sopra required',
        attr: {},
        setlabel: 'single',
        help: 'Help text'
      },
      _context
    ) }}


      #}

      <h2>Select</h2>

{#



    <div class="row">
    {*
      <div class="col-sm-6 col-md-3">
        {{ form_row(form.textField, {
          id: 'my_id',
          label: 'Campo text',
          attr: {}
        }) }}
      </div>
    *}
      <div class="col-sm-6 col-md-3">
        <div class="form-group">
          {{ form_label(form.textField2,
            'Campo con form_label separato',
            {id: 'custom_id'}
          ) }}
          {{ form_widget(form.textField2, {
            id: 'custom_id',
            attr: {}
          }) }}
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-sm-6 col-md-4 col-lg-3">
        {{ form_row(form.campo_select, {
          id: 'campo_select',
          label: 'Campo select',
          attr: {},
          help: 'help text'
        }) }}
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">

      </div>
    </div>

    // TODO trasformare in widget
    <div class="row">
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="form-group">
          <label for="select_optgroup">Select con option group</label>
          <select class="form-control custom-select"  id="select_optgroup">
            <option value="">&mdash;</option>
            <option value="1">Option semplice</option>

            <optgroup label="Option group 1">
              <option value="2">Option in option group 1</option>
              <option value="3">Option in option group 2</option>
            </optgroup>

            <optgroup label="Option group con annidamento">
              <optgroup label="Option group annidato">
                <option value="4">Option in option group annidato 1</option>
                <option value="5">Option in option group annidato 2</option>
              </optgroup>
            </optgroup>

          </select>
        </div>
      </div>

    </div>

#}

      <h2>Other elements</h2>
      {% include 'test_form/test_form.incl.html.twig' with {
        title: 'Textarea',
        varname: 'textareaField1',
        args: {
          help: 'Help text',
          label: 'form label',
          attr: {placeholder: 'Placeholder text'}
        }
      } %}

    {{ form_end(form) }}

  </main>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.10.2/beautify-html.js"></script>
  <script src="{{ asset('/assets/prism/prism-min.js') }}" data-manual></script>
  <script src="{{ asset('/assets/forms/test_page_assets/sf_test_form-min.js') }}"></script>
</body>
</html>

