{#
  {% include 'form_element.incl.html.twig' with {
    title: '__title__',
    id: '__custom_title_id__',  <== optional
    info: null | string,
    is_widget: false,           <== true -> form_row, false -> form_widget
    varname: 'varname',
    args: {} | null             <== widget params
  } %}
#}

{% set is_widget = is_widget is defined? is_widget : false %}
{% set args = (args is defined and args != null)? args : {} %}

<div class="form-test-element {%- if todo|default() %} todo{% endif %}">
  <h3 {%- if id|default() %} id="{{ id }}"{% endif -%}>{{ title|raw }}
    {%- if todo|default() -%}
      <span class="ml-2 badge badge-danger initialism">todo</span>
    {%- endif -%}
  </h3>
  {% if info|default() %}
    <div class="info">{{ info|raw }}</div>
  {% endif %}
  {%- if todo|default() -%}
    <div class="text-muted">Still working on...</div>
  {%- else -%}

    <div class="row align-items-stretch">
      <div class="col-4 result">
        <div>
          {% if is_widget %}
            {{ form_widget(form[varname], args) }}
          {% else %}
            {{ form_row(form[varname], args) }}
          {% endif %}
        </div>
      </div>
      <div class="col-4 twig"
        {%- if is_widget %} data-is-widget="true" {% endif %} data-args="{{ (args and args|length)? args|json_encode() : '' }}"></div>
      <div class="col-4 markup"></div>
    </div>
  {%- endif -%}
</div>
